.body-content {
  position: relative;
}

.udi-table {
  display: table;
  width: 100%;
  //border-collapse: collapse;

  .udi-row {
    display: table-row;

    .udi-cell {
      display: table-cell;
      background-color: #5cb85c;
      border: 1px solid #4cae4c;

      &.not-default{
        background-color: #00aa00;
      }
      &.changed {
        background-color: #c67605;
      }
    }
  }
}

.udi-tooltip {
  position: absolute;
  left: -10000px;
  background-color: #333333;
  padding: 3px;
  color: #fff;
}

.udi-form {
  position: absolute;
  left: -10000px;
  background-color: #333333;
  padding: 3px;
  color: #fff;
  width: 80px;
  border-radius: 3px;

  input {
    color: #333;
    background-color: #fff;
    margin-right: 3px;
    border: 0;
    border-radius: 3px;
    width: 40px;
  }
}